<?xml version="1.0" ?>

<robot name="Asimo_E1" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <link name="body">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 -0.5"/>
      <geometry>
        <box size="1 1.5 1"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <link name="hip_l">
    <visual>
      <origin rpy="1.57075 0 1.57075" xyz="0 -0.5 -1.2"/>
      <geometry>
        <cylinder length="0.5" radius="0.2"/>
      </geometry>
    </visual>
  </link>

  <link name="hip_r">
    <visual>
      <origin rpy="1.57075 0 1.57075" xyz="0 0.5 -1.2"/>
      <geometry>
        <cylinder length="0.5" radius="0.2"/>
      </geometry>
    </visual>
  </link>

  <joint name="body_hip_l" type="fixed">
    <parent link="body"/>
    <child link="hip_l"/>
  </joint>

  <joint name="body_hip_r" type="fixed">
    <parent link="body"/>
    <child link="hip_r"/>
  </joint>

  <link name="lower_hip_r">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 0.5 -1.5"/>
      <geometry>
        <cylinder length="0.5" radius="0.2"/>
      </geometry>
    </visual>
  </link>

  <link name="lower_hip_l">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 -0.5 -1.5"/>
      <geometry>
        <cylinder length="0.5" radius="0.2"/>
      </geometry>
    </visual>
  </link>

  <joint name="hip_to_lower_hip_r" type="fixed">
    <parent link="hip_r"/>
    <child link="lower_hip_r"/>
  </joint>

  <joint name="hip_to_lower_hip_l" type="fixed">
    <parent link="hip_l"/>
    <child link="lower_hip_l"/>
  </joint>


  <link name="leg_l">
    <visual>
      <origin rpy="0 0 1.57075" xyz="0 -0.5 -2"/>
      <geometry>
        <cylinder length="0.7" radius="0.15"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <link name="leg_r">
    <visual>
      <origin rpy="0 0 1.57075" xyz="0 0.5 -2"/>
      <geometry>
        <cylinder length="0.7" radius="0.15"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <joint name="lower_hip_to_leg_l" type="fixed">
    <parent link="lower_hip_l"/>
    <child link="leg_l"/>
  </joint>

  <joint name="lower_hip_to_leg_r" type="fixed">
    <parent link="lower_hip_r"/>
    <child link="leg_r"/>
  </joint>

  <link name="knee_r">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 0.5 -2.5"/>
      <geometry>
        <cylinder length="0.55" radius="0.2"/>
      </geometry>
    </visual>
  </link>

  <link name="knee_l">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 -0.5 -2.5"/>
      <geometry>
        <cylinder length="0.55" radius="0.2"/>
      </geometry>
    </visual>
  </link>

  <joint name="leg_to_knee_r" type="fixed">
    <parent link="leg_r"/>
    <child link="knee_r"/>
  </joint>

  <joint name="leg_to_knee_l" type="fixed">
    <parent link="leg_l"/>
    <child link="knee_l"/>
  </joint>

  <link name="foot_l">
    <visual>
      <origin rpy="0 0 1.57075" xyz="0 -0.5 -3"/>
      <geometry>
        <cylinder length="0.7" radius="0.15"/>
      </geometry>
        <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <link name="foot_r">
    <visual>
      <origin rpy="0 0 1.57075" xyz="0 0.5 -3"/>
      <geometry>
        <cylinder length="0.7" radius="0.15"/>
      </geometry>
        <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <joint name="knee_to_foot_r" type="fixed">
    <parent link="knee_r"/>
    <child link="foot_r"/>
  </joint>

  <joint name="knee_to_foot_l" type="fixed">
    <parent link="knee_l"/>
    <child link="foot_l"/>
  </joint>


  <link name="ankle_l">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 -0.5 -3.5"/>
      <geometry>
        <cylinder length="0.5" radius="0.15"/>
      </geometry>
    </visual>
  </link>

  <link name="ankle_r">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 0.5 -3.5"/>
      <geometry>
        <cylinder length="0.5" radius="0.15"/>
      </geometry>
    </visual>
  </link>

  <joint name="foot_to_ankle_r" type="fixed">
    <parent link="foot_r"/>
    <child link="ankle_r"/>
  </joint>

  <joint name="foot_to_ankle_l" type="fixed">
    <parent link="foot_l"/>
    <child link="ankle_l"/>
  </joint>

  <link name="ankle_lower_l">
    <visual>
      <origin rpy="1.57075 0 1.57075" xyz="0 -0.5 -3.7"/>
      <geometry>
        <cylinder length="0.55" radius="0.15"/>
      </geometry>
    </visual>
  </link>

  <link name="ankle_lower_r">
    <visual>
      <origin rpy="1.57075 0 1.57075" xyz="0 0.5 -3.7"/>
      <geometry>
        <cylinder length="0.55" radius="0.15"/>
      </geometry>
    </visual>
  </link>

  <joint name="ankle_to_ankle_lower_r" type="fixed">
    <parent link="ankle_r"/>
    <child link="ankle_lower_r"/>
  </joint>

  <joint name="ankle_to_ankle_lower_l" type="fixed">
    <parent link="ankle_l"/>
    <child link="ankle_lower_l"/>
  </joint>

  <link name="toe_r">
    <visual>
      <origin rpy="1.57075 0 1.57075" xyz="0.1 0.5 -3.9"/>
      <geometry>
        <box size="0.6 0.2 0.9"/>
      </geometry>
        <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <link name="toe_l">
    <visual>
      <origin rpy="1.57075 0 1.57075" xyz="0.1 -0.5 -3.9"/>
      <geometry>
        <box size="0.6 0.2 0.9"/>
      </geometry>
        <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <joint name="ankle_lower_to_toe_l" type="fixed">
    <parent link="ankle_lower_l"/>
    <child link="toe_l"/>
  </joint>

  <joint name="ankle_lower_to_toe_r" type="fixed">
    <parent link="ankle_lower_r"/>
    <child link="toe_r"/>
  </joint>



</robot>