<?xml version="1.0"?>
<launch>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
	</include>

  <!-- Robot model -->
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find asimo_e1_description)/urdf/robot_E1_v2.xacro'" />
		<!-- <arg name="x" default="0"/>  <arg name="y" default="0"/>   <arg name="z" default="2"/> -->


	<node 
			name="spawn_robot" 
			pkg="gazebo_ros" 
			type="spawn_model" 
			respawn="false"
			args="-urdf -model myoboat -param robot_description -z 1">
	</node>


	<rosparam command="load" file="$(find asimo_e1_description)/controllers/gazebo_controller.yaml"/>
	
	<node name="contoller_spawner"  pkg="controller_manager"  type="spawner"  respawn="false"
    	output="screen"  ns="/Asimo_E1"   
		 


         	args="	joint1_position_controller joint2_position_controller 
			 	 	joint3_position_controller joint4_position_controller
				  	joint5_position_controller joint6_position_controller
					joint7_position_controller joint8_position_controller
					joint9_position_controller joint10_position_controller " />


		  <!-- args="joint1_position_controller joint2_position_controller " /> -->
		   




			


</launch>
